@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  width: 100%;
  overflow-x: hidden;
  position: relative;
    width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}


* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
